@import url("https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap");

@page {
    margin: 0.4in 0.5in;
    size: letter;
}

body {
    font-family: Tinos, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Robotom, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

h1, h2, h3, p, a, li {
    color: black;
}

h1 {
    text-transform: uppercase;
    text-align: left;
    font-size: 32px;
    margin: 0;
    padding: 0;
    
}

h2 {
    margin: 16px 0 12px 0;
    border-bottom: 1px solid #000000;
    text-transform: uppercase;
    font-size: 16px;
    padding: 0;
}

h3 {
    margin: 6px 0;
    display: flex;
    font-size: 15px;
    padding: 0;
    justify-content: space-between;
}

p {
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 0;
    display: flex;
}

li > p {
    display: inline;
}

a {
    color: black;
}

ul {
    margin: 4px 0;
    padding-left: 24px;
    padding-right: 24px;
}

strong, em, a {
    padding-left: 1px;
    padding-right: 2px;
}

.spacer {
    margin: 0 auto;
}

.header {
    margin-bottom: 16px;
}

.header * {
    display: flex;
    justify-content: center;
    text-align: center;
}

.header h1 {
    order: 0;
}

.header {
    order: 1;
}
