@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

@page {
    size: letter;
    margin: 0.5in;
}

/* meta */
body {
    font-family: "Crimson Text", serif;
    font-size: 11pt;
    font-weight: 500;
    color: black;
}

h1 {
    margin: 0;
    padding: 0;
    margin-top: -0.1in;
    text-align: center;
    font-size: 26pt;
}

h2 {
    padding: 0;
    margin: 5pt 0;
    font-size: 11pt;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #000000;
}
h2::first-letter {
    font-size: 14pt;
}

h3, h4 {
    margin: 0;
    margin-left: 0.15in;
}

h3 {
    display: flex;
    font-size: 11pt;
    padding: 0;
    justify-content: space-between;
}

h4 {
    display: flex;
    font-size: 11pt;
    font-weight: normal;
    font-style: italic;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: space-between;
}

p {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-underline-offset: 4px;
}

ul {
    margin: 3pt 0 6pt 0.3in;
    padding: 0 0 0 24px;
    font-size: 11pt;
}
ul > li {
    margin-bottom: 1pt;
}

blockquote {
    margin: 0 0 0 0.15in;
}

.tech-stack {
    font-style: normal;
    font-weight: normal;
}

.spacer {
    margin: 0px auto;
}

.contact > ul {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0px auto 0pt !important;
    margin-top: -1pt;
    padding: 0;
}
.contact > ul > li {
    display: inline;
    white-space: pre;
    list-style-type: none;
}
.contact > ul > li:not(:last-child) {
    margin-right: 8px;
}
.contact > ul > li:not(:last-child):after {
    content: "|";
    margin-left: 8px;
}
